*{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(140deg, rgb(227, 71, 233),pink, rgb(220, 155, 250), purple);
}
.rightSide{
    height: 100%;
    width: 65%;
    border-radius: 25px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.295);
}
.leftSide{
    height: 65%;
    width: 25%;
    border-radius: 25px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.295);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-content: space-evenly;
}
.input{
    width: 90%;
    height: 25px;
    display: flex;
    flex-direction: row;
}
.calculateBudget{
    margin-top: 5px;
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}
.dates{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
}
.bills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 75px;
    margin: 2px;
}
.daysLeft, .leftover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
button{
    width: 75%;
    margin: 0 auto;
    height: 25px;
    border-radius: 15px;
    background: radial-gradient(circle, rgb(121, 196, 247), rgb(241, 157, 247), rgb(230, 134, 193));
}
button:hover{
    background: radial-gradient(circle, rgb(121, 196, 247), rgb(241, 157, 247), rgb(230, 134, 193));
    border: 2px solid rgb(29, 214, 29);
}
button:active{
    background: radial-gradient(circle, rgb(121, 196, 247), rgb(241, 157, 247), rgb(230, 134, 193));
    border: 2px solid rgb(29, 214, 29);
    transform: scale(.95);
}